{{ define "title" }}
  {{ title (i18n (lower .Title)) | default .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{ title (i18n (lower .Title)) | default .Title }}
      </a>
    </h1>
    <i>All posts are either published at <a href="https://architectural-bytes.ghost.io" target="_blank">Architectural Bytes</a> or at the <a href="" target="_blank">codecentric blog</a> and are just represented as direct links.</i>
    {{ .Content }}
    <ul>
      {{- range .Paginator.Pages -}}
        {{- .Render "li" -}}
      {{- end -}}
    </ul>

    {{ partial "pagination.html" . }}
  </section>
{{ end }}
